{% extends 'base.html' %}
  {% block body %}
<body>
<h2 class = 'display-2 text-center my-3'>No Time to Read the News, I Got Ya Covered</h2><br><br><br><br>
<p class="h5 ml-2 text-center lead" style="font-size: 30px;" >Meet Project News, your very own news app. Project news scans the entire internet and shows you the best news available. This way you won't have to pick up a newspaper ever again. Project News has access to over 30000+ sources of news. It is made entirely out of Python and HTML.  If you are interested in a news, there is a link to the original website after each headline. Project News is focused to keep you informed with the latest news available. This saves you a lot of time and money.  Project news is available for 3 countries which include The United States Of America, India, and  Australia</p>
<br>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

</body>
{% endblock body %}

</html>